{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/media/muzicm_favicon.ico" type="image/x-icon">
    <title>{% block title %}基础模板{% endblock title %}</title>

    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock css %}

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#my-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">木子窗明</a>
        </div>

        <div class="collapse navbar-collapse" id="my-nav">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'blog:blog_index' %}"><span class="glyphicon glyphicon-pencil"></span> 博客</a></li>
                <li><a href="/aboutme/"><span class="glyphicon glyphicon-user"></span> 关于博主</a></li>
                <li><a href="/callme/"><span class="glyphicon glyphicon-earphone"></span> 联系我们</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-book"></span> 小项目</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{% url 'blog:blog_search' %}" method="get">
                <div class="form-group">
                    <input type="text" name="keyword" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.session.login %}
                    <img src="{{ request.session.profile_image_url }}" class="img-rounded"
                         style="width: 30px; height: 30px;"/>
                    {{ request.session.screen_name }}
                    <a href="/logout/?next={{ request.path }}"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;注销</a>
                {% else %}
                    <li>
                        <a href="https://api.weibo.com/oauth2/authorize?client_id=2486056362&response_type=code&redirect_uri=http://www.muzicm.cn/login">
                            <i class="glyphicon glyphicon-log-in"></i> &nbsp;&nbsp;登录
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">

    {% block content %}
    {% endblock content %}

    <div class="container-fluid">
        <div class="col-md-12">
            <ul class="text-center list-unstyled" style="height: 50px; padding-top: 15px">
                <li><span>Copyright &copy; <a href="http://www.muzicm.cn">木子窗明</a></span> |
                    <span><a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备18044144号</a></span>
                </li>
            </ul>
        </div>
    </div>

</div>


<button class="gototop isvisible" style="display: inline-block;"><span>返回顶部</span></button>


<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.gototop.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $(".gototop").gototop({
            position: 50,
            duration: 1250,
            visibleAt: 300,
            classname: "isvisible"
        });
    });
</script>


{% block script %}
{% endblock script %}

</body>
</html>