{% extends 'blog/base.html' %}
{% load static %}
{% load comments %}

{% block title %}
    木子窗明|{{ entry.title }}
{% endblock title %}

{% block css %}
    <link href="{% static 'css/github.css' %}" rel="stylesheet"/>

    <style type="text/css">
    .blog-article img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
    </style>

    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

    <link href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-dune.dark.css' %}" rel="stylesheet">
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

{% endblock css %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default blog-article">
                    <div class="panel-heading">
                        <h3>{{ entry.title }}</h3>
                        <p>
                            发布时间：
                            {{ entry.created_time|date:'Y年m月d日' }}
                            &nbsp;分类：
                            {% for category in entry.category.all %}
                                <a href="{% url 'blog:blog_category' category.id %}">{{ category.name }}</a>
                            {% endfor %}
                            &nbsp;标签：
                            {% for tag in entry.tags.all %}
                                <a href="{% url 'blog:blog_tag' tag.id %}">{{ tag.name }}</a>&nbsp;&nbsp;
                            {% endfor %}
                            &nbsp;浏览量：{{ entry.visiting }}
                        </p>
                    </div>

                    <div class="panel-body">

                        {% if entry.img %}
                            <img src="{{ entry.img.url }}" class="img-rounded"
                                 style=""/>
                        {% else %}
                        {% endif %}
                        <p>
                            {{ entry.body|safe }}
                        </p>

                    </div>

                </div>


                <div class="row">
                    {% get_comment_form for entry as form %}
                    {% get_comment_count for entry as comment_count %}
                    <h3>评论总数：{{ comment_count }}</h3>
                    <hr/>
                </div>

                {#                评论框#}
                {% if request.session.login or request.user.is_authenticated %}
                    <div class="row">
                        <form class="form-horizontal" action="{% comment_form_target %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="input_title" class="pull-left control-label">评论标题：</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="comment_title" id="input_title"
                                           placeholder="请输入标题"
                                           required type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input_comment" class="pull-left control-label">评论内容：</label>
                                <div class="col-md-6">
                                <textarea style="resize: none;" class="form-control" rows="6" name="comment"
                                          id="input_comment" placeholder="请输入评论内容" required></textarea>
                                </div>
                            </div>

                            <span style="display: none;">{{ form.honeypot }}</span>
                            {{ form.content_type }}
                            {{ form.object_pk }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}
                            <input type="hidden" name="next" value="{% url 'blog:blog_detail' entry.id %}"/>
                            <input name="parent_id" type="hidden" value="-1"/>
                            <input name="level" type="hidden" value="0"/>


                            <div class="form-group col-md-7">
                                <div class="pull-left" style="margin-left: 68px;">
                                    <button type="reset" class="btn btn-default"><span
                                            class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;重置
                                    </button>
                                </div>

                                <div class="pull-right" style="margin-right: 12px;">
                                    <button type="submit" class="btn btn-success"><span
                                            class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <h4>登陆后才可以评论</h4>
                {% endif %}
                <hr/>

                {#                评论显示区#}
                <div class="row">
                    {% for comment in comment_list %}
                        <div class="single_comment" style="margin-left: {{ comment.level }}em; margin-bottom: 20px;">
                            <div>
                                {% if comment.user_img %}
                                    <img src="{{ comment.user_img }}" alt="user_image"
                                         style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; float: left; margin-left: 10px; margin-top: 5px;">
                                {% else %}
                                    <img src="/media/blog_images/default_user_image.jpg"
                                         style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; float: left; margin-left: 10px; margin-top: 5px;">
                                {% endif %}
                            </div>

                            <div class="col-md-11 comment-content"
                                 style="margin-bottom: 10px; border-bottom: 1px dashed lightgray; border-left: 1px dashed #2d7da4; padding-bottom: 5px;">
                                <strong>{{ comment.comment_title }}</strong>
                                <div>
                                    {% if comment.parent_comment %}
                                        {% if comment.user_name %}
                                            {{ comment.user_name }}
                                        {% else %}
                                            {{ request.user }}
                                        {% endif %}
                                        <i class="glyphicon glyphicon-share-alt"></i>
                                        {{ comment.parent_comment.user_name }}
                                    {% else %}
                                        By&nbsp;
                                        {% if comment.user_name %}
                                            {{ comment.user_name }}
                                        {% else %}
                                            {{ request.user }}
                                        {% endif %}
                                        &nbsp;On&nbsp;
                                    {% endif %}
                                    <em>{{ comment.submit_date }}</em>
                                    &nbsp;&nbsp;&nbsp;
                                    {% if request.session.login or request.user.is_authenticated %}
                                        <a href="{% url 'blog:comment_reply' comment.id %}">回复</a>
                                    {% endif %}
                                </div>
                                <br/>
                                <p style="margin-bottom: 0px;">{{ comment.comment }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="col-md-3 ">

                {% block toc %}

                    <div class="row">
                        <div class="widget hidden-xs hidden-sm">
                            <h3>博客目录</h3>
                            {{ entry.toc|safe }}
                        </div>
                    </div>
                {% endblock toc %}

                {% include 'blog/right_side_bar.html' %}

            </div>
        </div>
    </div>
{% endblock content %}