{% extends 'blog/base.html' %}

{% block title %}
    木子窗明|博客
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                {% if entries %}
                    <div class="blog-item" style="border: 1px solid #eee; padding: 5px; border-radius: 10px;">
                        {% for entry in entries %}
                            <h4><a href="{{ entry.get_absolute_url }}"
                                   style="text-decoration: none; font-size: 115%; font-weight: bold;">{{ entry.title }}</a>
                            </h4>

                            {% if entry.abstract %}
                                <p style="color: #777; font-size: small;">{{ entry.abstract }}</p>
                            {% else %}
                                <p style="color: #777; font-size: small;">{{ entry.body|truncatechars:128 }}</p>
                            {% endif %}

                            <div class="blog-tags"
                                 style="font-size: 70%; color: #75878a; margin-top: 0.5em; display: inline-block; border-top: 1px #ddd solid;">
                                <ul style="list-style-type: none; padding: 0px">
                                    <li style="float: left; margin-right: 1em;">
                                        <span class="glyphicon glyphicon-time"></span>
                                        <span>{{ entry.created_time }}</span>
                                    </li>
                                    <li style="float: left; margin-right: 1em;">
                                        阅读：{{ entry.visiting }}
                                    </li>
                                    <li style="float: left; margin-right: 1em;">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        {% for category in entry.category.all %}
                                            <a href="{% url 'blog:blog_category' category.id %}"
                                               style="text-decoration: none">{{ category.name }}</a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                            <hr style="margin: 15px -5px; border: 1px solid #eee;"/>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-info" role="alert">{{ error_msg }}</div>
                {% endif %}

                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        {{ page_html|safe }}
                    </ul>
                </nav>

            </div>
            <div class="col-md-3">
                {% include 'blog/right_side_bar.html' %}
            </div>
        </div>
    </div>
{% endblock %}