{% extends 'blog/base.html' %}
{% load comments %}

{% block title %}
    回复评论
{% endblock title %}

{% block content %}
    <div class="container-fluid" style="margin: 25px 50px; min-height: 600px;">
        <div class="row">
            <div class="single_comment">
                <div>
                    {% if request.session.login %}
                        <img src="{{ parent_comment.user_img }}" alt="user_image"
                             style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; float: left; margin-left: 10px; margin-top: 5px;"/>
                    {% else %}
                        <img src="/media/blog_images/default_user_image.jpg" alt="admin_img"
                             style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; float: left; margin-left: 10px; margin-top: 5px;"/>
                    {% endif %}
                </div>
                <div class="col-md-11">
                    <strong>{{ parent_comment.comment_title }}</strong>
                    <div class="small">
                        {% if request.session.login %}
                            <strong>{{ parent_comment.user_name }}</strong>
                        {% else %}
                            <strong>{{ request.user }}</strong>
                        {% endif %}
                        <em>{{ parent_comment.submit_date }}</em>
                    </div>
                    <br/>
                    <p>{{ parent_comment.comment }}</p>
                    <hr/>
                </div>
            </div>
        </div>

        {#                评论框#}
        {% if request.session.login or request.user.is_authenticated %}
            <div class="row">

                {% if request.session.login %}
                    <h3>回复 {{ parent_comment.user_name }} 的评论：</h3>
                {% else %}
                    <h3>回复 {{ request.user }} 的评论：</h3>
                {% endif %}

                {% get_comment_form for parent_comment.content_object as form %}
                <form class="form-horizontal" action="{% comment_form_target %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="input_title" class="pull-left control-label">评论标题：</label>
                        <div class="col-md-6">
                            <input class="form-control" name="comment_title" id="input_title"
                                   placeholder="请输入标题"
                                   required type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input_comment" class="pull-left control-label">评论内容：</label>
                        <div class="col-md-6">
                                <textarea style="resize: none;" class="form-control" rows="6" name="comment"
                                          id="input_comment" placeholder="请输入评论内容" required></textarea>
                        </div>
                    </div>

                    <span style="display: none;">{{ form.honeypot }}</span>
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <input type="hidden" name="next"
                           value="{% url 'blog:blog_detail' parent_comment.content_object.id %}"/>
                    <input name="parent_id" type="hidden" value="{{ parent_comment.id }}"/>
                    <input name="level" type="hidden" value="{{ parent_comment.level }}"/>


                    <div class="form-group col-md-7">
                        <div class="pull-left" style="margin-left: 68px;">
                            <button type="reset" class="btn btn-default"><span
                                    class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;重置
                            </button>
                        </div>

                        <div class="pull-right" style="margin-right: 12px;">
                            <button type="submit" class="btn btn-success"><span
                                    class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        {% else %}
            <h4>登陆后才可以评论</h4>
        {% endif %}
        <hr/>

        <div>
                <a class="btn btn-primary" href="{% url 'blog:blog_detail' parent_comment.content_object.id %}">暂时不评论，返回先前页面</a>
        </div>
    </div>
{% endblock content %}