{% load blog_tags %}

<div class="row sidebar-container">
    <div class="widget isvisible">
        <p class="text-center">精选32首云村音乐，双击歌曲即可播放</p>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=225
                src="//music.163.com/outchain/player?type=0&id=2300490929&auto=1&height=205"></iframe>
    </div>

    {% block toc %}
    {% endblock toc %}

    <div class="widget">
        <h4 class="text-center">最新文章</h4>
        {% get_recent_entries as recent_entry_list %}
        {% for entry in recent_entry_list %}
            {% if forloop.first %}
                <div class="alert alert-success" role="alert">
                    <a href="{{ entry.get_absolute_url }}" style="text-decoration: none;">{{ entry.title }}</a>
                    <br/>
                    {{ entry.author }}发表于：{{ entry.created_time|date:"Y年m月d日 f" }}
                </div>
            {% else %}
                <div class="alert alert-success" role="alert" style="margin-top: -18px">
                    <a href="{{ entry.get_absolute_url }}" style="text-decoration: none;">{{ entry.title }}</a>
                    <br/>
                    {{ entry.author }}发表于：{{ entry.created_time|date:"Y年m月d日 f" }}
                </div>
            {% endif %}
        {% endfor %}


    </div>

    <div class="widget">
        <h4 class="text-center">最热文章</h4>
        {% get_popular_entries as popular_entry_list %}
        {% for entry in popular_entry_list %}
            {% if forloop.first %}
                <div class="alert alert-success" role="alert">
                    <a href="{{ entry.get_absolute_url }}"
                       style="text-decoration: none;">{{ entry.title }}</a>&nbsp;<span class="badge"
                                                                                       style="background-color: salmon">{{ entry.visiting }}</span>
                    <br/>
                    {{ entry.author }}发表于：{{ entry.created_time|date:"Y年m月d日 f" }}
                </div>
            {% else %}
                <div class="alert alert-success" role="alert" style="margin-top: -18px">
                    <a href="{{ entry.get_absolute_url }}"
                       style="text-decoration: none;">{{ entry.title }}</a>&nbsp;<span class="badge"
                                                                                       style="background-color: salmon">{{ entry.visiting }}</span>
                    <br/>
                    {{ entry.author }}发表于：{{ entry.created_time|date:"Y年m月d日 f" }}
                </div>
            {% endif %}
        {% endfor %}


    </div>

    <div class="widget">
        <h4 class="text-center">分类</h4>
        {% get_category as category_list %}
        <ul class="list-group">
            {% for category in category_list %}
                <li class="list-group-item">
                    <a href="{% url 'blog:blog_category' category.id %}"
                       style="text-decoration: none;">{{ category.name }}</a>
                    <span class="badge">{% get_entry_count_of_category category.id %}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="widget">
        <h4 class="text-center">归档</h4>
        {% archives as date_list %}
        <ul class="list-group">
            {% for date in date_list %}
                <li class="list-group-item">
                    <a href="{% url 'blog:blog_archives' date.year date.month %}" style="text-decoration: none;">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                        {{ date.year }}年{{ date.month }}月
                        <span class="badge">{% get_entry_count_of_date date.year date.month %}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="widget">
        <h4 class="text-center">标签</h4>
        {% get_tags as tag_list %}
        {% for tag in tag_list %}
            <a href="{% url 'blog:blog_tag' tag.id %}"
               class="btn {% cycle 'label-default' 'label-primary' 'label-success' 'label-info' 'label-warning' 'label-danger' %}"
               style="margin: 4px; color: white">
                {{ tag.name }}
            </a>
        {% endfor %}

    </div>

    <div class="widget">
        <h4 class="text-center">RSS</h4>
        <a href="/latest/feed/" style="text-decoration: none;">
            <i class="glyphicon glyphicon-globe"></i>
            RSS订阅
        </a>

    </div>

</div>

